<!DOCTYPE html>
<html>
  <head>
    <title>Upload page!!!</title>
    <style>
      body {
        margin: 50px 0 0 0;
      }
      .container {
        width: 70%;
        margin: auto;
      }
      .submit {
        margin: auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="">
        <div class="question">
          <textarea
            name="question"
            placeholder="Question"
            id=""
            cols="100%"
            rows="10"
          ></textarea>
        </div>
        <div class="solution">
          <textarea
            name="sol"
            placeholder="Code goes here..."
            id=""
            cols="100%"
            rows="10"
          ></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="Upload" />
        </div>
      </form>
    </div>
  </body>
</html>
